# Игнорируем node_modules (зависимости)
node_modules/

# Игнорируем сборку
dist/

# Игнорируем локальные настройки IDE
.vscode/
.idea/

# Игнорируем кэш и временные файлы
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорируем файлы окружения
.env
.env.local
.env.development
.env.production
.env.*.local

# Игнорируем зависимости для билдов
package-lock.json
yarn.lock
